@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/*   font-family: 'Poppins', sans-serif;   */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  color: black;
}

.main-container {
  position: relative;
  min-height: 100vh;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.4rem;
}

.title {
  text-align: center;
  font-size: clamp(1.5em, 8vw, 4em);
}

.color-container {
  position: relative;
  height: min(4rem, 10vw);
  width: min(4rem, 10vw);
  background-color: black;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.29);
}

.color-picker {
  position: absolute;
  width: min(4rem, 10vw);
  height: min(4rem, 10vw);
  border: none;
  cursor: pointer;
  opacity: 0;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  padding: 1.1rem 2.2rem;
  border-radius: 5rem;
  border: none;
  margin: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  width: 140px;
  cursor: pointer;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  color: black;
  box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.29);
}

.btn:hover {
  color: white;
}

.clicking {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.29);
  color: white;
}

.grid-container {
  width: min(90vw, 500px);
  height: min(90vw, 500px);
  border: solid 1px rgba(0, 0, 0, 0.3);
  background-color: white;
  margin: 16px 0;
  margin-inline: auto;
  box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.2);
}

.grid-box {
  width: 100%;
  height: auto;
  display: grid;
  height: 100%;
  cursor: pointer;
}

.grid-item {
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.container-blank {
  width: 100%;
  height: 2em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  font-size: clamp(0.1rem, 3vw, 1rem);
}

.footer-container > a {
  margin-inline: 0.4em;
  color: black;
}
